<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<h3 class="title is-3"><%= pluralize @type.products.count, "Product" %> in type - <%= @type.name %> </h3>
<ul>
  <% @type.products.each do | p| %>
    <li> <%= link_to p.name, p %> </li>
  <% end %>
</ul>

<%# <%= link_to 'Edit', edit_type_path(@type) %>
<%= link_to 'Back', types_path %>
