<p id="notice"><%= notice %></p>

<h1>Pages</h1>
<div class="content">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Permalink</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.content %></td>
        <td><%= page.permalink %></td>
        <td><%= link_to 'Show', permalink_path(page.permalink) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Page', new_page_path %>
