<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<h3 class="title is-3"><%= pluralize @tag.products.count, "Product" %> has tag <%= @tag.name %> </h3>
<ul>
  <% @tag.products.each do | p| %>
    <li> <%= link_to p.name, p %> </li>
  <% end %>
</ul>

<%# <%= link_to 'Edit', edit_tag_path(@tag) %>
<%= link_to 'Back', tags_path %>
