<p id="notice"><%= notice %></p>

<h1>Colors</h1>
<div class="content">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hex value</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= color.hex_value %></td>
        <td><%= color.product_id %></td>
        <td><%= link_to 'Show', color %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<br>

<%= link_to 'New Color', new_color_path %>
