<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h3 class="title is-3"><%= pluralize @category.products.count, "Product" %> in category - <%= @category.name %> </h3>
<ul>
  <% @category.products.each do | p| %>
    <li> <%= link_to p.name, p %> </li>
  <% end %>
</ul>

<%# <%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>
