<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mall.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @mall.city %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @mall.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @mall.lng %>
</p>

<h3 class="title is-3"><%= pluralize @mall.products.count, "Product" %> sold in <%= @mall.name %> </h3>
<ul>


  <% @mall.products.each do | p| %>
    <li> <%= link_to p.name, p %> </li>
  <% end %>
</ul>


<%# <%= link_to 'Edit', edit_mall_path(@mall) %>
<%= link_to 'Back', malls_path %>
