<div class="column is-one-quarter is-centered" style="display: flex">
    <div class="tile is-vertical is-8 is-info is-gapless">
        <article class="
        content
        notification
        is-info
        is-flex
        is-flex-direction-column
        is-justify-content-center
        is-align-content-center
        is-centered
      ">
            <div style="height: 65px">
                <h5 class="subtitle is-small is-128x128">
                    <%= link_to product.name, product %>
                </h5>
            </div>

            <div>
                <%= image_tag product.image_link,alt: product.name, class: "image
        is-128x128"%>
            </div>

            <div style="height: 50px">
                <p>
                    <%= truncate product.description %>
                </p>
                <% if product.rating && product.rating > 0 %>
                    <div>
                        <strong>Rating:</strong>
                        <progress class="progress is-small" value="<%= product.rating %>" max="5">
                        <%= product.rating %>
                      </progress>
                    </div>


                    <% end %>
            </div>
        </article>
    </div>
</div>