<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= will_paginate %>
<div class="columns is-multiline is-mobile">
    <% @products.each do |product| %>
        <div class="column is-one-quarter ">
          <div class="tile is-vertical is-8 is-info is-flex">
          <article class="notification is-info">
          <h1><%= link_to product.name, product %></h1>

                  <%= image_tag product.image_link, class: "image is-128x128"%>

              <p><%= truncate product.description %></p>
              <% if product.rating && product.rating > 0 %>
              <progress class="progress is-small" value="<%= product.rating %>" max=5>
                <%= product.rating %>
              </progress>
              <% end %>
          </article>

          </div>
        </div>
    <% end %>
</div>
<%= will_paginate %>
<%= link_to 'New Product', new_product_path %>
