<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= will_paginate %>
<div class="columns is-multiline is-mobile ">
<%= render partial: @products %>

</div>
<%= will_paginate %>
<%= link_to 'New Product', new_product_path %>
