<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="columns is-multiline is-mobile">
    <% @products.each do |product| %>
        <div class="column is-one-quarter">
          <div class="section">
              <h2><%= link_to product.name, product %></h2>

                  <%= image_tag product.image_link, class: "image is-128x128"%>

              <p><%= truncate product.description %></p>
              <% if product.rating && product.rating > 0 %>
              <progress class="progress is-small" value="<%= product.rating %>" max=5>
                <%= product.rating %>
              </progress>
              <% end %>
          </div>
        </div>
    <% end %>
</div>

<%= link_to 'New Product', new_product_path %>
