<p id="notice"><%= notice %></p>

<div class="columns">
  <div class="column is-half">
<%= image_tag @product.image_link, class: "image is-flex"%>
</div>
  <div class="column is-half content">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @product.image_link %>
</p>

<p>
  <strong>Product link:</strong>
  <%= @product.product_link %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @product.website_link %>
</p>

<p class="message-body">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand.name %>
</p>

<p>
  <strong>Malls:</strong>
  <ul>
    <% @product.malls.each do |mall| %>
    <li>Name: <%= mall.name %>, city: <%= mall.city %>, lat: <%= mall.lat %>, lng: <%= mall.lng %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tags:</strong>
  <ol>
    <% @product.tags.each do |tag| %>
    <li><%= tag.name %></li>
    <% end %>
  </ol>
</p> </div>
</div>


<%# <%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
